@{
    Layout = "~/Frontend/Views/Shared/AuthLayout.cshtml";
    ViewData["Title"] = "Information";
}

<h1>We are Bunny</h1>
<div class="auth-link">

 <a asp-area="" asp-controller="Page" asp-action="Index">Start with us. Come Bunny</a>
</div>