@{
    Layout = "~/Frontend/Views/Shared/AuthLayout.cshtml";
    ViewData["Title"] = "Auth";
}
<div class="auth-page">
        
    <div class="auth-card" id="authCard">

            <div class="form-container login-form">
                <div class="logo">
                    <img src="~/images/logo.png" />
                </div>

                <h1 class="auth-title">Đăng nhập</h1>
                <p class="auth-subtitle">Chào mừng quay lại BunnyChat</p>

                <form class="auth-form" menthod ="post" asp-controller="Auth" asp-action="Login">
                    <input name="UserName" type="text" placeholder="Username"><label>Username</label>
                    <input name="Password" type="password" class="rabbit-password" placeholder="Mật khẩu">
                    <button type="submit" class="auth-btn"> Đăng nhập</button>
                </form>

                <div class="auth-forgot">
                    @* <a href="Page/Forgot" onclick="showForgot(); return false">Bạn quên mật khẩu ?</a> *@
                    <a asp-area="" asp-controller="Page" asp-action="Forgot">Bạn quên mật khẩu ?</a>
                </div>
                
                <div class="auth-link">
                    Chưa có tài khoản?
                    <a href="#Signup" onclick="showSignup(); return false">Đăng ký</a>
                </div>
            </div>
        
        @* //form dang ky *@
            <div class="form-container signup-form">
                <div class="logo">
                    <img src="~/images/logo.png" />
                </div>

                <h1 class="auth-title">Đăng ký</h1>
                <p class="auth-subtitle">Tạo tài khoản BunnyChat</p>

                <form class="auth-form" menthod ="post" asp-controller="Auth" asp-action="Signup">

                    <div class="first-last">
                        <input  name="FirstName" type="text" placeholder="Họ">
                        <input  name="LastName" type="text" placeholder="Tên">
                    </div>

                    <input  name="UserName" type="text" placeholder="Username">
                    <input  name="Email" type="email" placeholder="Email">
                    <input  name="Password" type="password" class="rabbit-password" placeholder="Mật khẩu">
                    <button type="submit" class="auth-btn">Tạo tài khoản</button>
                </form>

                <div class="auth-link">
                    Đã có tài khoản?
                    <a href="#Login" onclick="showLogin(); return false">Đăng nhập</a>
                </div>
            </div>

        @* hieu ung chuyen dong *@
            <div class="overlay">
                <div class="flip-card">
                        <div class="flip-card-inner">
                            
                            @* //hinh anh mat truoc *@
                            <div class="flip-front">
                                <img src="~/images/Login.png" alt="login">
                            </div>

                            @* //hinh anh mat sau *@
                            <div class="flip-back">
                                <img src="~/images/Signup.png" alt="signup">
                            </div>
                        </div>
                    </div>
            </div>
    </div>
</div>