body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#dff7ff,#fef6ff);
    font-family:sans-serif;
}

.login-box{
    text-align:center;
}
.rabbit{
    position: relative;
    width: 220px;
    height: 220px;
}
.face{
    width:180px;
    height:180px;
    background:white;
    border-radius:50%;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
}

.ear{
    width: 35px;
    height: 120px;
    background: white;
    border-radius: 30px;
    position: absolute;
    top: 0;
    z-index: 10;
    transition: 0.5s ease;
    transform-origin: bottom center;
}

.ear::after{
    content:"";
    width:15px;
    height:80px;
    background:pink;
    border-radius:20px;
    position:absolute;
    top:15px;
    left:10px;
}

.left-ear{
    left: 55px;
}

.right-ear{
    right: 55px;
}

.eye{
    width:14px;
    height:14px;
    background:#222;
    border-radius:50%;
    position:absolute;
    top:60px;
}

.eye.left{
    left:45px;
}

.eye.right{
    right:45px;
}

.nose{
    width:12px;
    height:10px;
    background:pink;
    border-radius:50%;
    position:absolute;
    top:90px;
    left:50%;
    transform:translateX(-50%);
}

.rabbit.hide .left-ear{
    transform: translate(25px, 30px) rotate(-45deg);
}

.rabbit.hide .right-ear{
    transform: translate(-25px, 30px) rotate(45deg);
}

@keyframes jump{
  0%,100%{transform:translateY(0);}
  50%{transform:translateY(-20px);}
}