
.login-box{
    text-align:center;
    pointer-events: none;
}
.rabbit{
    position: relative;
    width: 180px;
    height: 180px;
}
.rabbit .face{
    width:180px;
    height:180px;
    background:white;
    border-radius:50%;
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
}

.rabbit .ear{
    width: 35px;
    height: 120px;
    background: white;
    border-radius: 30px;
    position: absolute;
    top: 0;
    z-index: 10;
    transition: 0.5s ease;
    transform-origin: bottom center;
}

.rabbit .ear::after{
    content:"";
    width:15px;
    height:80px;
    background:pink;
    border-radius:20px;
    position:absolute;
    top:15px;
    left:10px;
}

.rabbit .left-ear{
    left: 55px;
}

.rabbit .right-ear{
    right: 55px;
}

.rabbit .eye{
    width:14px;
    height:14px;
    background:#222;
    border-radius:50%;
    position:absolute;
    top:60px;
}

.rabbit .eye.left{
    left:45px;
}

.rabbit .eye.right{
    right:45px;
}

.rabbit .nose{
    width:12px;
    height:10px;
    background:pink;
    border-radius:50%;
    position:absolute;
    top:90px;
    left:50%;
    transform:translateX(-50%);
}

.rabbit .rabbit.hide .left-ear{
    transform: translate(25px, 30px) rotate(-45deg);
}

.rabbit .rabbit.hide .right-ear{
    transform: translate(-25px, 30px) rotate(45deg);
}

.rabbit-wrapper {
    position: absolute;
    top: -110px;        /* đẩy lên trên */
    left: 25%;          /* căn giữa form login */
    transform: translateX(-50%);
    z-index: 999;
}

@keyframes jump{
  0%,100%{transform:translateY(0);}
  50%{transform:translateY(-20px);}
}